@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Головна сторінка</h1>
    <img src="https://picsum.photos/200/300?random=1">
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis nulla eget arcu placerat maximus. Donec in pellentesque ante. Vivamus dignissim eu quam nec vestibulum. Nulla facilisi. Nunc dignissim a nibh ac vehicula. Nulla interdum faucibus leo, id ultricies urna aliquam eu. Etiam finibus ut tellus sed dapibus. Praesent elementum eu magna in elementum. Quisque non arcu id nulla elementum finibus molestie in sapien. Fusce nec libero non nisi lacinia varius cursus id enim.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam massa ligula, cursus non dapibus et, facilisis in urna. Aliquam ac eleifend dolor, non sollicitudin arcu. Maecenas vulputate tristique dapibus. Nulla orci odio, tincidunt non maximus semper, volutpat non purus. Phasellus euismod pulvinar nulla a laoreet. Proin tincidunt ullamcorper enim, sed vulputate sapien placerat in.

Donec nulla purus, placerat non malesuada vel, tristique non odio. Sed arcu urna, fringilla eget purus non, accumsan fermentum leo. Mauris malesuada turpis sit amet metus molestie faucibus. Praesent ex neque, faucibus et blandit nec, finibus non elit. Morbi viverra et mi eu euismod. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eget accumsan ipsum. Nam ut imperdiet sapien. Mauris volutpat est id urna elementum, at fermentum orci bibendum.

Aenean lacinia faucibus posuere. Cras eget tempus nibh, id porta libero. Nullam dignissim odio in velit elementum, vitae cursus felis mollis. Suspendisse feugiat justo mollis velit ultricies tincidunt. Vivamus ac ligula sit amet ligula tincidunt faucibus sit amet vitae nisi. Duis vitae felis quis ipsum posuere efficitur at vel ligula. Curabitur viverra odio non iaculis convallis. Maecenas eu mollis risus. Sed viverra egestas tincidunt. Ut pretium dolor vel venenatis sodales. Aenean tempor bibendum lectus, eu condimentum odio semper tempus. Praesent nec nunc eget dolor luctus interdum sit amet sed mauris. Mauris semper sit amet enim ac semper. Proin pulvinar luctus neque, et luctus nisl vestibulum id.

Nam vitae congue risus. Vivamus id nisl sollicitudin, consequat justo ac, viverra est. Vestibulum leo est, laoreet vel justo eget, convallis sodales leo. Sed sit amet pulvinar diam. Duis gravida sem lorem, lacinia mollis diam placerat eget. Nam aliquam luctus elit, at pulvinar tortor pulvinar eleifend. Nunc blandit volutpat lobortis. Quisque gravida viverra ex sit amet vestibulum. Suspendisse tincidunt ut nibh vitae malesuada. Pellentesque mattis sagittis dolor non luctus. Donec vestibulum consequat ante ut pretium. Phasellus ac dolor suscipit, vestibulum lectus ac, ultricies erat. Nulla porttitor, metus ut auctor pharetra, risus felis gravida nibh, id lobortis lectus risus ac turpis. Quisque sed sem eu purus convallis laoreet.
    </div>
</div>
