body{
    margin: 0;
    padding: 0;
    background-image: url(img.jpg);
    /* background-color: rgb(196, 218, 201); */
}

.content{
    margin-top: 10px;
    width: min-content;
    height: auto;
    padding:40px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: whitesmoke;
    box-shadow: 21px 26px 70px -6px rgb(61, 61, 61);
}

.form1{
    margin: 10px;
    text-align: left;
}

.input_{
    margin-right: 18px;
    width: 120px;
}

.check{
    text-align: left;
}

#p1{
    width: 120px;
    font-size: 14px;
}